@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 50vh;
  width: 100%;
  /* background: red; */
  position: relative;
  border-bottom: 2px solid black;
}

#page2 {
  min-height: 50vh;
  width: 100%;
  /* background: rgb(14, 13, 109); */
  position: relative;
}

.submit-button {
  background-color: white;
  color: crimson;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(0, 255, 64);
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}